@tailwind base;
@tailwind components;
@tailwind utilities;

//-----------------LYNO-------------------------------//

@font-face {
    font-family: "LynoUlys";
    src: url('../assets/fonts/LynoUlys.woff') format('woff');
    font-style: normal;
}

//-----------------PX GROTESK------------------------//

@font-face {
    font-family: 'Px Grotesk Screen';
    src:local('Px Grotesk Screen'),
        url('../assets/fonts/PxGrotesk-Screen.woff2') format('woff2'),
        url('../assets/fonts/PxGrotesk-Screen.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
//-----------------HELVETICA------------------------//

@font-face {
    font-family: 'HelveticaNeue 75';
    src:
        url('../assets/fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'HelveticaNeue 65';
    src: url('../assets/fonts/HelveticaNeueLT-Medium.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue 55';
    src: url('../assets/fonts/HelveticaNeueLT-Roman.woff2') format('woff2'),
        url('../assets/fonts/HelveticaNeueLT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue 45';
    src:
        url('../assets/fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



//-----------------SUISSE INT'L MONO------------------------//

@font-face {
    font-family: 'Suisse Intl Mono v02';
    src: url('../assets/fonts/SuisseIntlMono-Regularv02.woff2') format('woff2'),
        url('../assets/fonts/SuisseIntlMono-Regularv02.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//------------------PublicSans------------------------------//

@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-Thin.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-Light.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-Medium.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-Bold.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-ExtraBold.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../assets/fonts/PublicSans-Black.woff2') format('woff2'),
        url('../assets/fonts/PublicSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

//------------------SuisseIntl------------------------------//

@font-face {
    font-family: 'SuisseIntl-Regular';
    src:
      url('../assets/fonts/SuisseIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-Medium';
    src:
      url('../assets/fonts/SuisseIntl-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-Book';
    src:
      url('../assets/fonts/SuisseIntl-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-SemiBold';
    src:
      url('../assets/fonts/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SuisseIntl-Bold';
    src:
      url('../assets/fonts/SuisseIntl-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//----------------------------------------------------------//

html {
  height: -webkit-fill-available;
}

body {
  background-color: white;
  font-family: 'Suisse Intl Mono v02';
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
#root {
}

#main-container {
  height: 100vh;
  width: 100vw;
}


.is-draggable:focus-visible {
  outline-color: none;
}
.counter{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  vertical-align: center;

  }


  .load {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-family: Px Grotesk Screen;
    font-size: 30px;
    text-align: center;
  }

.flickity-viewport {
  animation: transition 1.2s;
}

